/* Tables */
.table-wrapper {

    overflow-x: auto;
    width: 100%;
    max-width: 100%;

    table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        max-width: 100%;
        border: 1px solid var(--border);
        table-layout: auto;
    }

    thead,
    tbody {
        white-space: normal;
    }

    th {
        letter-spacing: .1em;
        border-bottom: 1px solid var(--border);
    }

    tfoot th {
        border-top: 1px solid var(--border);
    }

    td {
        border-bottom: 1px solid var(--border);
    }

    th,
    td {
        text-align: left;
        text-align: left;
        padding: 0.75rem;
        hyphens: auto;

        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
    }

    tbody tr:nth-child(even) {
        background-color: var(--light-background);
    }

    @media screen and (max-width: 600px) {

        table {
            border: 0;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border: 1px solid var(--border);
            display: block;
            margin-bottom: 1.25em;
        }

        table td {
            display: block;
            font-size: .8em;
            text-align: right;
        }

        hr,
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
        }

        table td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;

            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 50%;
        }

        table td:last-child {
            border-bottom: 0;
        }

        tbody tr:nth-child(even) {
            background-color: unset;
        }
    }
}